VITE_RPC_URL='https://soroban-testnet.stellar.org'
VITE_NETWORK_PASSPHRASE='Test SDF Network ; September 2015'
VITE_WALLET_WASM_HASH='ecd990f0b45ca6817149b6175f79b32efb442f35731985a084131e8265c4cd90'
VITE_LAUNCHTUBE_URL='https://testnet.launchtube.xyz'
VITE_LAUNCHTUBE_JWT={LT_JWT_PLACEHOLDER}
VITE_NETWORK_NAME='testnet'
